# Analyst Builder: Python Programming for Beginners - Course 1

## 1.0 Introduction:

### 1.1 What is Python?
- General purpose programming language (versatile)
- Interpreted language instead of compiled language:
  - An interpreted language executes code line-by-line at runtime, while a compiled language translates the entire code into machine language before running it.
- Object-oriented programming language (OOP)
- Open-sourced and free to use

### 1.2 What is Python used for?

**Data Analysis/Science**:
- Perform complex statistical calculations
- Create data visualization
- Build machine learning algorithms
- Manipulate and analyze data
- **Packages**: Pandas, Matplotlib, Seaborn, Scikit-learn, Tensorflow, Keras

**Web Development**:
- Used to build the front-end or back-end of websites
- **Front End**: Managing interactions with web servers, fetching data, and displaying it in the web application
- **Back End**: Storing, retrieving, and formatting data in an agreed-upon format so that the data can be parsed and understood by other apps
- The back end provides data, and the front end shows it to users in a web app
- **Web Development Framework**: Django, Flask

**Automation & Scripting**:
- Creating a script to automatically do a task or process for you instead of doing it manually
- If you find yourself performing a task repeatedly, you could work more efficiently by automating it with Python
- **Python Packages**: Selenium (automating web pulls), googlesearch (automating web search), csv module/OS (automating file processing)

**Software/Automation Testing**:
- Python can aid in tasks like build control, bug tracking, and testing
- Reusuable test scripts are developed to test the app functionality, thus reducing the overall regression time and helping with faster software releases
- Leveraging test automation reduces regression time and quality releases within the testing life cycle
- **Frameworks**: PyUnit, Unittestm PyTest, Behave, Robot

## 2.0 Variables:

### 2.1 What is a Variable?
- Named location used to store data in memory (Containers for storing data objects)
- Can hold different types of values such as numbers, strings, lists, tuples, dictionaries, etc.
- Use the equal sign (=) to assign a value to a variable (a = 10)
- **Variables in Memory**: Calling a variable reads the address of a variable and ouputs the data stored in that location
- When a variable is no longer needed, Python's garbage collector will eventually reclaim the memory it occupies, so you don't need to worry about deallocating memory yourself

### 2.2 Variables + Expressions

In [ ]:
# x is the variable
# 5 is the expression
x = 5

In [ ]:
# Calling the expression using a variable version 1
  # x stored 5, therefore, the output of print(x) is 5
print(x)

5

In [ ]:
# Calling the expression using a variable version 2
x

5

In [ ]:
# No need to declare the data type prior as Python already knows and dictates what data type the expression
type(x)

int

In [ ]:
# 'Hello Earth' is the output as the 2nd row overwrites the previous row
y = 'Hello World!!!'
y = 'Hello Earth'

print(y)

### 2.3 Assigning Multiple Values + Concatenation

In [ ]:
# Version 1: Assigning multiple values
  # Data type: str

x = 'Chocolate'
y = 'Vanilla'
z = 'Strawberry'

print(x)
print(y)
print(z)

Chocolate
Vanilla
Strawberry

In [ ]:
# Version 2: Assigning multiple values
  # Data type: str

x, y, z = 'Chocolate', 'Vanilla', 'Strawberry'

print(x, y, z)

Chocolate Vanilla Strawberry

In [ ]:
# Version 3: Assigning multiple values (tuple)
  # Data type: tuple
  # Tuple: stores multiple values, defined using parentheses. Can't change these values later (immutable)

x = 'Chocolate', 'Vanilla', 'Strawberry'

print(x)

('Chocolate', 'Vanilla', 'Strawberry')

In [ ]:
# Version 4: Assigning multiple values

x = y = z = 'Pistachio Cream'

print(x)
print(y)
print(z)

Pistachio Cream
Pistachio Cream
Pistachio Cream

In [ ]:
# Version 5: Assigning multiple values (list)
  # Data type: list
  # List: Mutable collection of values defined by square brackets

main_berries  = ['Strawberry', 'Blueberry', 'Rasberry', 11]

In [ ]:
# Unpacking the 'main_berries' list in 4 variables

x, y, z, z1 = main_berries

print(x)
print(y)
print(z)
print(z1)

Strawberry
Blueberry
Rasberry
11

In [ ]:
# Version 1: Concatenate
  # Only works on string

x = 'I love the number '
y = '11'

print(x + y)

I love the number11

In [ ]:
# Version 2: Combining
  # Combining values works for any data types

x = 'I love the number '
y = 11

print(x, y)

I love the number  11

### 2.4 Variable Naming Best Practices

In [ ]:
# Naming Convention Example:

Hourly_Rate = 100
Hours = 78

Total_Compensation = Hourly_Rate * Hours

print(Total_Compensation)

7800

In [ ]:
# Naming Convention Types:

# Camel Case
testVartiableCase = 'Vanilla'

# Pascal Case
TestVartiableCase = 'Vanilla'

# Snake Case
test_vartiable_case = 'Vanilla'

### 2.5 Slicing Variables

In [ ]:
# Slicing is extracting a portion of a sequence (list,string, tuple, etc.) using indexes

my_string = 'I Love You'
     #Index: 0123456789

In [ ]:
# Slicing a specific index position
my_string[2]

In [ ]:
# Slicing with an index range
  # Syntax: Start, Stop, Step

my_string[2:6]

'Love'

In [ ]:
# Example 1: Syntax variation
my_string[0:]

'I Love You'

In [ ]:
# Example 2: Syntax variation
my_string[:10]

'I Love You'

In [ ]:
# Example 3: Syntax variation (steps)
  # Skip x amount of position
my_string[0:10:2]

'ILv o'

In [ ]:
# Example 4: Syntax variation (negative)
my_string[-10:-1]

'I Love Yo'

## 3.0 Data Types:

### 3.1 What are data types?
- Classification (class object) that specifies which type of value a variable has and what operations can be applied to it
- **5 Classifications**: Numeric, Dictionary, Boolean, Set, Sequence Type
- **Mutable**: Ability of objects to change their values (*list, dictionary, set*) - We can update the data
- **Immutable**: It cannot be changed. Once created, the value of these objects is permanent (*number, strings, tuples*)
- **Numbers**: Integer (whole numbers), Float (decimals), Complex Numbers ("imaginary numbers" e.g. 1+2j)
- **Boolean**: True or False (0 or 1). Often used with Comparison or Logical operators to determine the truth or false of an expression
- **Sequence Type**: Strings, Lists, Tuples. Can accessed via index. Lists are mutable while Strings and Tuples are immutable
- **Set**: Unordered collection of data types that is iterable, mutable, and has no duplicate elements. Good for comparing unique values to another set. Cannot be accessed by index
- **Dictionary**: Presented in key:value pairs. Values in a dictionary can be of any data type and can be duplicated. Keys can't be repeated and must be immutable (string, numbers, tuples)

### 3.2 Numbers

In [ ]:
# Integer: Whole Number
type(5+6)

int

In [ ]:
# Float: Decimal
type(5+6.1)

float

In [ ]:
# Float: Decimal
type(5.9+6.1)

float

In [ ]:
# Integer: Whole Number
type(round(5.9+6.1))

int

In [ ]:
# Complex Numbers:
type(1 + 9j)

complex

### 3.3 Boolean
- Numerically, true is 1 and false is 0

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

In [ ]:
type(1 > 5)

bool

### 3.4 Strings

In [ ]:
# Different types of string
x = 'Single Quotes'

y = "Double Quotes"

z = '''
Triple
Quotes
'''

print(x)
print(y)
print(z)

Single Quotes
Double Quotes

Triple
Quotes

In [ ]:
# New line
x = 'Single\nQuote'
print(x)

Single
Quote

In [ ]:
# tab
x = 'Single\tQuote'
print(x)

Single	Quote

In [ ]:
# Handling apostrophes V1 (interpreting as a special sequence)
x = "I\'m a string"

# Handling apostrophes V2 (using double quotations)
x = "I'm a string"
print(x)

I'm a string

In [ ]:
# Raw strings
x = r'I\'m a string'
print(x)

I\'m a string

In [ ]:
# Mutiple line V1
multi_line = """
"That is so great! said Joseph. \n "Yeah, it really is!" said Alexies.
"""

print(multi_line)

"That is so great! said Joseph.
 "Yeah, it really is!" said Alexies.

In [ ]:
# Mutiple line V2
multi_line = """
"That is so great! said Joseph.
"Yeah, it really is!" said Alexies.
"""

print(multi_line)

"That is so great! said Joseph.
"Yeah, it really is!" said Alexies.

In [ ]:
# Strings w/ operators
x = 'Hello ' * 3
y = 'Hello' + ' World'

print(x)
print(y)

Hello Hello Hello
Hello World

In [ ]:
# String immutable example (not change actual characters within a string)
x = 'Hello World'
del x[1]

TypeError: 'str' object doesn't support item deletion

### 3.5 Lists
- Ordered
- Changeable
- Can contain different data types
- Contains duplicate

In [ ]:
# List sample
  # All data types, even a list within a list

dog_list = [1, 'Dog', ['Daisy', 'Golden Doodle', 1], 1.1, True]
type(dog_list)

list

In [ ]:
# Lists are mutable: Adding value to list via "append"

dog_list.append(['Fetch', 'Play', 'Ball', 'Park'])
print(dog_list)

[1, 'Dog', ['Daisy', 'Golden Doodle', 1], 1.1, True, ['Fetch', 'Play', 'Ball', 'Park']]

In [ ]:
# Lists are mutable: Changing value in list

dog_list[0] = '11/8/2022'

print(dog_list)

['11/8/2022', 'Dog', ['Daisy', 'Golden Doodle', 1], 1.1, True, ['Fetch', 'Play', 'Ball', 'Park']]

In [ ]:
# Drilling down list within a list

x = dog_list[2]
y = dog_list[2][1]
z = dog_list[2][1][0]

print(x)
print(y)
print(z)

['Daisy', 'Golden Doodle', 1]
Golden Doodle
G

In [ ]:
# Adding lists together into one

list_1 = [1, 'Daisy']
list_2 = [4, 'Loves Daddy']

list_3 = list_1 + list_2

print(list_3)

[1, 'Daisy', 4, 'Loves Daddy']

### 3.6 Tuples
- Immutable
- Ordered (index)
- **Use Case**: For storing data that we know that will not change over time

In [ ]:
# Tuple sample

dog_list = (1, 'Dog', ['Daisy', 'Golden Doodle', 1], 1.1, True)
type(dog_list)

tuple

In [ ]:
# As tuples are immutable, you cannot add additional value

dog_list.append(10)
print(dog_list)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Adding tuples together into one

tuple_1 = [1, 'Daisy']
tuple_2 = [4, 'Loves Daddy']

tuple_3 = tuple_1 + tuple_2

print(tuple_3)

[1, 'Daisy', 4, 'Loves Daddy']

### 3.7 Sets
- Unordered (no index)
- Mutable
- No duplicate elements
- **Use Case**: Good for checking unions, intersections, differences between sets

In [ ]:
# Set sample

first_set = {1, 1, 2, 2, 'Hey!'}
print(first_set)

{1, 2, 'Hey!'}

In [ ]:
# Can't add mutable values in sets (lists)

second_set = {[1, 1], 2, 2, 'Hey!'}
print(second_set)

TypeError: unhashable type: 'list'

In [ ]:
# Can add immutable values in sets (str, tuples, etc.)

third_set = {(1, 1), 2, 2, 'Hey!'}
print(third_set)

{'Hey!', (1, 1), 2}

In [ ]:
# Adding value in set via "update"

fourth_set = {'Daisy', 'Doodle', 1, 2, 3}
fourth_set.update([4, 5, 6])
print(fourth_set)

{1, 2, 3, 'Daisy', 4, 5, 6, 'Doodle'}

In [ ]:
# Deleting value in set via "discard" or "remove"

fourth_set.discard(4)
fourth_set.discard(5)
fourth_set.remove(6)
print(fourth_set)

{1, 2, 3, 'Daisy', 'Doodle'}

In [ ]:
# Set use cases:

set_1 = {1, 2, 3, 4, 5}
set_2 = {4, 5, 6, 7, 8}

print(set_1 | set_2) # Union of the two sets (unique values)
print(set_1 & set_2) # Intersection of the two sets (same values that overlap)
print(set_1 - set_2) # Difference of the two sets (different values)
print(set_2 - set_1) # Difference of the two sets (order matters)
print(set_1 ^ set_2) # Show if value is either one or the other, but not in both

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

### 3.8 Dictionaries
- Key:Value pairs
- Order (index)
- Mutable
- Key (no duplicates)
- Value (duplicates)

In [ ]:
# Dictionary sample

ice_cream_customer = {
    'Name': 'Joseph Choi',
    'Flavor Purchased': ['Chocolate', 'Vanilla', 'Pistachio'],
    'Age': 31}

print(ice_cream_customer)

{'Name': 'Joseph Choi', 'Flavor Purchased': ['Chocolate', 'Vanilla', 'Pistachio'], 'Age': 31}

In [ ]:
# Showing all of the keys

ice_cream_customer.keys()

dict_keys(['Name', 'Flavor Purchased', 'Age'])

In [ ]:
# Showing all of the values

ice_cream_customer.values()

dict_values(['Joseph Choi', ['Chocolate', 'Vanilla', 'Pistachio'], 31])

In [ ]:
# Showing all of the key value pairs

ice_cream_customer.items()

dict_items([('Name', 'Joseph Choi'), ('Flavor Purchased', ['Chocolate', 'Vanilla', 'Pistachio']), ('Age', 31)])

In [ ]:
# Using a key to show a specified value within dictionary
  # Can't call out values using index; Have to use keys or values

ice_cream_customer['Flavor Purchased']

['Chocolate', 'Vanilla', 'Pistachio']

In [ ]:
# Adding a key value pair in a preexisting dictionary

ice_cream_customer['Birthday'] = '1/11/1993'
ice_cream_customer['Amount Spent'] = 20.99

print(ice_cream_customer)

{'Name': 'Joseph Choi', 'Flavor Purchased': ['Chocolate', 'Vanilla', 'Pistachio'], 'Age': 31, 'Birthday': '1/11/1993', 'Amount Spent': 20.99}

In [ ]:
# Updating a key value pair in a preexisting dictionary via "update"
  # Important to note that when updating, the old key/value pair is not remove. Therefore, you will need to remove the old one

ice_cream_customer.update({'Name': 'Joseph Camba-Choi', 'Flavor Purchased': ['Chocolate', 'Vanilla', 'Pistachio'], 'Age': 31, 'Date of Birth': '1/11/1993', 'Amount Spent': 100.99})
del ice_cream_customer['Birthday']

print(ice_cream_customer)

{'Name': 'Joseph Camba-Choi', 'Flavor Purchased': ['Chocolate', 'Vanilla', 'Pistachio'], 'Age': 31, 'Amount Spent': 100.99, 'Date of Birth': '1/11/1993'}

In [ ]:
# Selecting a specified key and returns its corresponding value using "pop"

customer_spent = ice_cream_customer.pop('Amount Spent')
print(customer_spent)

100.99

In [ ]:
# Nested dictionary sample

nest_dict = {
    1: "value_1",
    2: "value_2",
    3: {'Name': 'Joseph Camba-Choi', 'Flavor Purchased': ['Chocolate', 'Vanilla', 'Pistachio'], 'Age': 31, 'Amount Spent': 100.99, 'Date of Birth': '1/11/1993'}
    }

print(nest_dict)

{1: 'value_1', 2: 'value_2', 3: {'Name': 'Joseph Camba-Choi', 'Flavor Purchased': ['Chocolate', 'Vanilla', 'Pistachio'], 'Age': 31, 'Amount Spent': 100.99, 'Date of Birth': '1/11/1993'}}

In [ ]:
# Locating values within nested dictionary

x = nest_dict[3]
y = nest_dict[3]['Flavor Purchased']
z = nest_dict[3]['Flavor Purchased'][1]

print(x)
print(y)
print(z)

{'Name': 'Joseph Camba-Choi', 'Flavor Purchased': ['Chocolate', 'Vanilla', 'Pistachio'], 'Age': 31, 'Amount Spent': 100.99, 'Date of Birth': '1/11/1993'}
['Chocolate', 'Vanilla', 'Pistachio']
Vanilla

### 3.9 Converting Data Types
- **Implicit Conversion**: When Python automatically converts one data type to another
- **Explicit Conversion**: When you manually convert a data type using functions like int(), float(), or str()

In [ ]:
# Implicit conversion example

num_int = 7
num_float = 1.1
num_imp_conv = num_int/num_float

print(num_imp_conv)
print(type(num_imp_conv))

6.363636363636363
<class 'float'>

In [ ]:
# Explicit conversion example 1

num_int = 7
num_str = '1'
num_exp_conv = num_int + int(num_str) # Converting string to interger via "int()"

print(num_exp_conv)
print(type(num_exp_conv))

8
<class 'int'>

In [ ]:
# Explicit conversion example 2

my_list = [1, 2, 3, 4, 5, 4, 2, 2 ,1]
my_set = set(my_list) # Converting list to set via "set()"
my_tuple = tuple(my_list) # Converting list to tuple via "tuple()"
my_str = str(my_list) # Converting list to string via "str()"

print(my_set)
print(type(my_set))

print(my_tuple)
print(type(my_tuple))

print(my_str)
print(type(my_str))

{1, 2, 3, 4, 5}
<class 'set'>
(1, 2, 3, 4, 5, 4, 2, 2, 1)
<class 'tuple'>
[1, 2, 3, 4, 5, 4, 2, 2, 1]
<class 'str'>

In [ ]:
# Explicit conversion example 3

my_dict = {'Name': 'Joseph', 'Age': 31, 'Hair': 'Black'}

print(my_dict.keys())
print(type(my_dict.keys()))

print(list(my_dict.keys()))
print(type(list(my_dict.keys()))) # From dictionary to list

dict_keys(['Name', 'Age', 'Hair'])
<class 'dict_keys'>
['Name', 'Age', 'Hair']
<class 'list'>

In [ ]:
# Explicit conversion example 3

my_str = 'Hello, my name is Joseph'

print(list(my_str)) # Converting str to list
print(tuple(my_str)) # Converting str to tuple
print(set(my_str)) # Converting str to set

['H', 'e', 'l', 'l', 'o', ',', ' ', 'm', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'J', 'o', 's', 'e', 'p', 'h']
('H', 'e', 'l', 'l', 'o', ',', ' ', 'm', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'J', 'o', 's', 'e', 'p', 'h')
{'e', 'i', 'l', 'o', ' ', 'H', 'J', 'h', 'a', 'y', 'n', 'm', 'p', ',', 's'}

## 4.0 Operators

### 4.1 What are operators?
- Special symbols in Python that carry out arithmetic or logical computation
- **Operand**: Value that the operator operates on
- **7 Operator Types**:
  - **Arithmetic**: Used to perform mathematical operations
  - **Comparison**: Used to compare values. Returns either True or False according to the condition
  - **Logical**: Used to connect two or more expressions to be evaluated (and, or, not)
  - **Assignment**: Used to assign values to variables
  - **Membership**: Used to test whether a value or variable is found in a sequence (in, not in)
  - **Identity**: Used to check if two values/variables are located on the same part of the memory. Two variables that are equal do not imply that they are identical (is, is not)
  - **Bitwise**: Used to perform bitwise calculations in integers. Integers are converted into binary and then operations are performed bit by bit

### 4.2 Comparison Operator
- `>`: Greater than - True if left operand is greater than the right (e.g., `x > y`)
- `<`: Less than - True if left operand is less than the right (e.g., `x < y`)
- `==`: Equal to - True if both operands are equal (e.g., `x == y`)
- `!=`: Not equal to - True if operands are not equal (e.g., `x != y`)
- `>=`: Greater than or equal to - True if left operand is greater than or equal to the right (e.g., `x >= y`)

In [ ]:
# Comparison operator int examples:

a = 5 == 5 # equal
b = 5 != 10 # not equal
c = 5 > 10 # greater than
d = 5 < 10 # less than
e = 5 >= 5 # greater than or equal to
f = 5 <= 5 # less than or equal to

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

True
True
False
True
True
True

In [ ]:
# Comparison operator str examples:
  # Compares alphabetically

'Banana Cream Pie Ice Cream' < 'Vanilla'

True

### 4.3 Arithmetic Operators
- `+`: Add two operands or unary plus (e.g., `x + y + 2`)
- `-`: Subtract right operand from the left or unary minus (e.g., `x - y - 2`)
- `*`: Multiply two operands (e.g., `x * y`)
- `/`: Divide left operand by the right one (always results in a float) (e.g., `x / y`)
- `%`: Modulus - remainder of the division of left operand by the right (e.g., `x % y`)
- `//`: Floor division - division that results in whole number adjusted to the left in the number line (e.g., `x // y`)
- `**`: Exponent - left operand raised to the power of right (e.g., `x ** y`)

In [ ]:
# Arithmetic operator examples:

a = 5 / 10 # division
b = 5 // 10 # floor division (round down to the nearest whole number)
c = 5 % 10 # modulus (remainder)
d = 4 % 2 == 0 # checking to see if a number is divisible by another number (no remainder)

print(a)
print(b)
print(c)
print(d)

0.5
0
5
True

In [ ]:
# Built-in functions:

a = abs(-15) #absolute
b = pow(2, 4) #power
c = round(123.515, 2) #rounding
d = min([1,2,3])
e = max([1,2,3])

print(a)
print(b)
print(c)
print(d)
print(e)

15
16
123.52
1
3

In [ ]:
# Imported functions (math)

import math

a = math.ceil(5.25)
b = math.floor(5.85)
c = math.fsum([1,2,3,4,5])
d = math.sqrt(25)

print(a)
print(b)
print(c)
print(d)

6
5
15.0
5.0

### 4.4 Logical Operators
- `and`: True if both operands are true (e.g., `x and y`)
- `or`: True if either of the operands is true (e.g., `x or y`)
- `not`: True if the operand is false (complements the operand) (e.g., `not x`)

In [ ]:
# logical operators example:

print(1 == 1 and 2 == 2)
print(1 == 1 and 2 == 3)
print(1 == 1 or 2 == 2)
print(1 == 1 or 2 == 3)
print(not 1 == 1)

True
False
True
True
False

### 4.5 Membership Operators
- `in`: True if value/variable is found in the sequence (e.g., `5 in x`)
- `not in`: True if value/variable is not found in the sequence (e.g., `5 not in x`)
- **sequence**: string, tuple, list, dictionary

In [ ]:
# Membership operators example:

string = 'Hello, my name is Joseph'
list = [1, 2, 3, 4, 5]
dict = {'Name': 'Joseph', 'Age': 31, 'Hair': 'Black'}

print('Joseph' in string)
print('Joseph' not in string)
print(1 in list)
print(1 not in list)
print('Name' in dict) # checking keys
print('Joseph' in dict.values()) # checking values

True
False
True
False
True
True

### 4.6 Assignment Operators
- `=`: Assigns value (e.g., `x = 5`)
- `+=`: Adds right operand to the left operand and assigns the result (e.g., `x += 5` is equivalent to `x = x + 5`)
- `-=`: Subtracts right operand from the left operand and assigns the result (e.g., `x -= 5` is equivalent to `x = x - 5`)
- `*=`: Multiplies left operand by the right operand and assigns the result (e.g., `x *= 5` is equivalent to `x = x * 5`)
- `/=`: Divides left operand by the right operand and assigns the result (e.g., `x /= 5` is equivalent to `x = x / 5`)
- `%=`: Takes the modulus using both operands and assigns the result (e.g., `x %= 5` is equivalent to `x = x % 5`)
- `//=`: Performs floor division using both operands and assigns the result (e.g., `x //= 5` is equivalent to `x = x // 5`)

In [ ]:
# Assignment operators example

num1 = 5
print(num1 + 5)

num2 = 5
num2 += 5
print(num2)

10
10

### 4.7 Identity and Bitwise Operators
- `is`: Returns True if both variables point to the same object (e.g., `x is y`)
- `is not`: Returns True if variables point to different objects (e.g., `x is not y`)
- `&`: Bitwise AND - Sets each bit to 1 if both bits are 1 (e.g., `x & y`)
- `|`: Bitwise OR - Sets each bit to 1 if one of the bits is 1 (e.g., `x | y`)
- `^`: Bitwise XOR - Sets each bit to 1 if only one of the bits is 1 (e.g., `x ^ y`)
- `~`: Bitwise NOT - Inverts all the bits (e.g., `~x`)
- `<<`: Bitwise left shift - Shifts bits to the left, filling with zeros (e.g., `x << 2`)
- `>>`: Bitwise right shift - Shifts bits to the right, filling with the leftmost bit (e.g., `x >> 2`)

In [ ]:
# Identity operators:
  # Used to compare objects, not that they are equal, but to make sure they are the exact same object with the same memory location

x = 5
y = 5
z = x


print(x is z) # true as x and z are referencing the same object
print(x is y) # false because they are different variables (different location)
print (x == y) # true as x and y are the same value

True
True
True

In [ ]:
# Bitwise operators:
  # Used to perform bitwise calculations on integers
  # Converts it to binary and performs operations bit by bit

a = 20
b = 5

print(bin(a))
print(bin(b))
print(bin(a & b))
print(a & b)

0b10100
0b101
0b100
0b100
4

## 5.0 Statements:

### 5.1 What are statements?
- Instruction that Python can execute
- **Types of Statements**:
  - **Print Statement**: When you type a statement in a cell, Python executes it and displays the result (if there is one)
  - **Assignment Statement**: Assigns a value to a variable (e.g., `x = 5`).
  - **If Statement**: Executes a block of code if a condition is true (e.g., `if x > 5:`)
  - **For Statement**: Iterates over a sequence (like a list or range) and executes a block of code for each item (e.g., `for i in range(5):`)
  - **While Statement**: Repeats a block of code as long as a condition is true (e.g., `while x < 10:`)
- **Indentation**: Code block starts with indentation and ends with the first unindented line. Four whitespaces are used for indentation and are preferred over tabs

### 5.2 If - Elif - Else Statements
- Executes a block of code if a condition is true
- If the condition is not true, it carries on to the rest of the code

In [ ]:
# 5.2.1 Simple if (true) example:

if 100 > 10:
  print('It worked!')

It worked!

In [ ]:
# 5.2.1 Simple if (false) example:

if 100 < 10:
  print('It worked!') # No output as the statement is false

In [ ]:
# 5.2.1 Simple else example:

if 100 < 10:
  print('It worked!')
else:
  print('It did not work...')

It did not work...

In [ ]:
# 5.2.2 If Else statement with list
  # If the guests are in the invitee list, let them in, if not, don't let them in

invitee_list = ['Joseph Choi', 'Alexies Camba', 'Daisy Rumbles Choi']

# True
if 'Joseph Choi' in invitee_list:
  print('Let them in')
else:
  print('Do not let them in')

# False
if 'Tony Stark' in invitee_list:
  print('Let them in')
else:
  print('Do not let them in')

Let them in
Do not let them in

In [ ]:
# 5.2.3 If Elseif (elif) statement with list
  # Use Elseif (elif) if you have multipe else statements

price = 59.95

if price < 20:
  print('low price of: ' +str(price))
elif price < 40:
  print('medium price: ' +str(price))
elif price < 60:
  print('high price: ' +str(price))
elif price < 80:
  print('very high price: ' +str(price))
else:
  print('do not buy as price is ' +str(price))

low price of:  10

In [ ]:
# 5.2.4 If Elseif statement with append and empty lists
  # Building out own logic

low_price_list = []
med_price_list = []
high_price_list = []
v_high_price_list = []
do_not_buy_list = []

price = 100

if price < 20:
  low_price_list.append(price)
elif price < 40:
  med_price_list.append(price)
elif price < 60:
  high_price_list.append(price)
elif price < 80:
  v_high_price_list.append(price)
else:
  do_not_buy_list.append(price)

print('Low Prices: ', low_price_list)
print('Medium Prices: ', med_price_list)
print('High Prices: ', high_price_list)
print('Very High Prices: ', v_high_price_list)
print('Do Not Buy Prices: ', do_not_buy_list)

Low Prices:  []
Medium Prices:  []
High Prices:  []
Very High Prices:  []
Do Not Buy Prices:  [100]

### 5.3 Nested If Else Statements

In [ ]:
# Nested if else statement sample: Grade system
  # Use nested if else statements to
grade = 81

if grade >= 90:
  if grade >= 97:
    print(str(grade) + '% is A+')
  elif grade >= 93:
    print(str(grade) + '% is A')
  else:
    print(str(grade) + '% is A-')
elif grade >= 80:
  if grade >= 87:
    print(str(grade) + '% is B+')
  elif grade >= 83:
    print(str(grade) + '% is B')
  else:
    print(str(grade) + '% is B-')

81% is B-

### 5.4 For Loops
- Used to iterate over a sequence (such as a list, tuple, string, or range) or other iterable objects
- Iterating over a sequence is called traversal
- **Syntax**:
  - for value in sequence(list, tuple, string, range, etc.):
  - body of code

In [ ]:
# 1.1 For Loop example:

list = [1,2,3,4,5]

for number in list: # 'number' is a temporary variable
  print(number)

1
2
3
4
5

In [ ]:
# 1.2 For Loop example:

list = [1,2,3,4,5]

for number in list:
  print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!

In [ ]:
# 1.3 For Loop example:

list = [1,2,3,4,5]

for number in list:
  power_of_number = number ** number
  print(power_of_number)

1
4
27
256
3125

In [ ]:
# 2.1 For Loop example:

low_price_list = []
med_price_list = []
high_price_list = []
v_high_price_list = []
do_not_buy_list = []

price_amount = [10.25, 20.45, 25.66, 30.75, 35.15, 40.47, 45.95, 50.15, 55.66, 60.77, 65.99, 70.11, 75.25, 80.85, 85.65, 90.34, 95.47, 100.99]

for price in price_amount:
  if price < 20:
    low_price_list.append(price)
  elif price < 40:
    med_price_list.append(price)
  elif price < 60:
    high_price_list.append(price)
  elif price < 80:
    v_high_price_list.append(price)
  else:
    do_not_buy_list.append(price)

print('Low Prices: ', low_price_list)
print('Medium Prices: ', med_price_list)
print('High Prices: ', high_price_list)
print('Very High Prices: ', v_high_price_list)
print('Do Not Buy Prices: ', do_not_buy_list)

Low Prices:  [10.25]
Medium Prices:  [20.45, 25.66, 30.75, 35.15]
High Prices:  [40.47, 45.95, 50.15, 55.66]
Very High Prices:  [60.77, 65.99, 70.11, 75.25]
Do Not Buy Prices:  [80.85, 85.65, 90.34, 95.47, 100.99]

In [ ]:
# 2.2 For Loop example:
  # Counter (i in loops) is a variable used to keep track of the current iteration or index while looping through a sequence, like a list or a range (starts at 0)

ice_cream_flavor = ['Chocolate','Vanilla','Strawberry','Pistachio','Coffee','Mint']

i = 0

for flavor in ice_cream_flavor:
  print(i, flavor)
  i += 1

0 Chocolate
1 Vanilla
2 Strawberry
3 Pistachio
4 Coffee
5 Mint

In [ ]:
# 2.3 For Loop example:
  # Enumerate: Adds a counter to an iterable (like a list or tuple) and returns it as an enumerate object
  # Allows you to loop through both the index and the value of each item in the iterable

ice_cream_flavor = ['Chocolate','Vanilla','Strawberry','Pistachio','Coffee','Mint']

for i, flavor in enumerate(ice_cream_flavor):
  print(i, flavor)

0 Chocolate
1 Vanilla
2 Strawberry
3 Pistachio
4 Coffee
5 Mint

In [ ]:
# 3.1 For Loop example: Dictionary

customer_dictionary = {'Name': 'Joseph Choi', 'Age': 31, 'Hair': 'Black', 'Items Purchased': ['Shovel', 'Dirt']}

In [ ]:
# 3.1.1 For Loop example:
for item in customer_dictionary:
  print(item)

Name
Age
Hair
Items Purchased

In [ ]:
# 3.1.2 For Loop example:
for item in customer_dictionary.items():
  print(item)

('Name', 'Joseph Choi')
('Age', 31)
('Hair', 'Black')
('Items Purchased', ['Shovel', 'Dirt'])

In [ ]:
# 3.1.3 For Loop example:
for item in customer_dictionary.keys():
  print(item)

Name
Age
Hair
Items Purchased

In [ ]:
# 3.1.4 For Loop example:
for item in customer_dictionary.values():
  print(item)

Joseph Choi
31
Black
['Shovel', 'Dirt']

In [ ]:
# 3.1.5 For Loop example:
for key, value in customer_dictionary.items():
  print(key, '==>', value)

Name ==> Joseph Choi
Age ==> 31
Hair ==> Black
Items Purchased ==> ['Shovel', 'Dirt']

In [ ]:
# 4.1 For Loop example: Range

divisible_by_three = []
divisible_by_five = []

for num in range(100): # finding numbers between 0-100 that is divisible by 3 or 5
  if num % 3 == 0:
    divisible_by_three.append(num)
  elif num % 5 == 0:
    divisible_by_five.append(num)

print('Divisible by Three: ', divisible_by_three)
print('Divisible by Five: ', divisible_by_five)

Divisible by Three:  [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
Divisible by Five:  [5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95]

### 5.5 Nested For Loops

In [ ]:
# 1.1 Nested For Loops Example:

greetings = ['Hey', 'Howdy', 'Hello']

x=0 # Adding counters to understand the sequence of the for loop
y=0

for word in greetings:
  x += 1
  for letter in word:
    print(x, letter, y)
    y += 1

1 H 0
1 e 1
1 y 2
2 H 3
2 o 4
2 w 5
2 d 6
2 y 7
3 H 8
3 e 9
3 l 10
3 l 11
3 o 12

In [ ]:
# 1.2 Nested For Loops Example: Actual use case

flavors_list = ['Vanilla','Chocolate','Strawberry']
toppings_list = ['Nutella','Almond Butter','Peanut Butter']

for flavors in flavors_list:
  for toppings in toppings_list:
    print(flavors, 'topped with', toppings)

Vanilla topped with Nutella
Vanilla topped with Almond Butter
Vanilla topped with Peanut Butter
Chocolate topped with Nutella
Chocolate topped with Almond Butter
Chocolate topped with Peanut Butter
Strawberry topped with Nutella
Strawberry topped with Almond Butter
Strawberry topped with Peanut Butter

### 5.6 While Loops
- Repeatedly executes a block of code as long as a specified condition remains True

In [ ]:
# 1.1 While loops example:

number = 0

while number <= 10:
  print(number)
  number += 1 #increments the value of number by 1 until it reaches to 10

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 1.2 While loops example: Infinite loop (keep running forever)

number = 0

while number <= 10:
  print(number)

In [ ]:
# 1.3 While loops example: using it with list

  # Counters help to keep track of the current position in the list
  # Without a counter, the loop won’t know which element to check or when to stop, potentially causing an infinite loop

names_list = ['Joseph','Alexies','Daisy']

i = 0 # Initializing counter

while names_list[i] != 'Daisy': # Looping until 'Daisy' is found
  print(names_list[i]) # Printing current name
  i += 1 # Incrementing counter

Joseph
Alexies

### 5.7 Break, Continue, Else, Pass
- `break`: Exits the loop immediately.
- `continue`: Skips the current iteration and moves to the next.
- `else`: Runs if the loop completes without hitting a break.
- `pass`: Does nothing; acts as a placeholder.

In [ ]:
# 1.1.1 Break/While example

i = 0

while i <= 10:
  print(i)
  if i == 6: # if counter is equal to 6, then break (exit the loop)
    break
  i += 1

0
1
2
3
4
5
6

In [ ]:
# 1.1.2 Break/While example

i = 0

while i <= 10:
  if i == 6: # placement of the if/break code prevents 6 as output
    break
  print(i)
  i += 1

0
1
2
3
4
5

In [ ]:
# 1.2.1 Break/For example

jc_list = [1,2,3,4,5,6,7,8,9,10]

for num in jc_list:
  power_of_num = num ** num
  if power_of_num > 3000: # breaks when the output is greater than 3,000
    break
  print(power_of_num)

1
4
27
256

In [ ]:
# 2.1.1 Continue/While example

i = 0

while i < 5:
  i += 1
  if i == 3:
    continue # skip 3 and move on to the iteration
  print(i)

1
2
4
5

In [ ]:
# 2.2.1 Continue/For example

jc_list = [1,2,3,4,5,6,7,8,9,10]

for num in jc_list:
  num += 1
  if num == 3: # go through the loop but skip 3
    continue
  print(num)

2
4
5
6
7
8
9
10
11

In [ ]:
# 2.2.2 Continue/For example

jc_list = [1,2,3,4,5,6,7,8,9,10]

for num in jc_list:
  num += 1
  if num in [3,4,5,6,7]: # using in to bring in more than 1 num to skip
    continue
  print(num)

2
8
9
10
11

In [ ]:
# 2.2.3 Continue/For example

jc_list = [1,2,3,4,5,6,7,8,9,10]

for num in jc_list:
  num += 1
  if 3 <= num <= 7: # using in to bring in more than 1 num to skip (between)
    continue
  print(num)

2
8
9
10
11

In [ ]:
# 3.1.1 Else/While example

i = 0

while i <= 10:
  if i == 6.5: # not going to hit 6.5 as i += 1 brings out only whole numbers
    break
  print(i)
  i += 1
else:
  print('No breaks found...') # else block in while loop runs only if the loop completes without hitting a break

0
1
2
3
4
5
6
7
8
9
10
No breaks found...

In [ ]:
# 3.2.1 Else/For example

jc_list = [1,2,3,4,5,6,7,8,9,10]

for num in jc_list:
  num_output = num ** num
  if num == 5.5: # not going to hit 5.5 as i += 1 brings out only whole numbers
    break
  print(str(num) + ':', num_output)
else:
  print('No breaks found') # else block in while loop runs only if the loop completes without hitting a break

1: 1
2: 4
3: 27
4: 256
5: 3125
6: 46656
7: 823543
8: 16777216
9: 387420489
10: 10000000000
No breaks found

In [ ]:
# 4.1.1 Pass/For example

jc_list = [1,2,3,4,5,6,7,8,9,10]

for num in jc_list:
  pass # I don't know what I'm going to write here yet, but I know I will eventually, so I would like to have this here as placeholder

### 5.8 Nested While Loops
- While loop within a while loop
- `A break or continue inside the nested while loop will only affect the nested loop, not the outer loop`

In [ ]:
# 0.1.1 While Loop review

i = 0

while i <= 5: # Loop while i <= 10 (end condition)
  print(i) # Print the current value of i
  i += 1 # Increment i by 1 for the next iteration

0
1
2
3
4
5

In [ ]:
# 1.1.1 Nested While Loop example

i = 0

while i <= 5:  # Loop i from 0 to 5
  print(str(i) + ' - Outer Loop')  # Print i
  nested_i = 0  # Reset nested_i
  while nested_i <= 2:  # Loop nested_i from 0 to 2
    print(nested_i)  # Print nested_i
    nested_i += 1  # Increment nested_i
  i += 1  # Increment i

0 - Outer Loop
0
1
2
1 - Outer Loop
0
1
2
2 - Outer Loop
0
1
2
3 - Outer Loop
0
1
2
4 - Outer Loop
0
1
2
5 - Outer Loop
0
1
2

In [ ]:
# 1.1.2 Nested While Loop/Else example

i = 0

while i <= 5:
  print(str(i) + ': Outer Loop')
  nested_i = 0
  while nested_i <= 2:
    print(nested_i)
    nested_i += 1
  else:
    print('-- Inner While Loop Ended --') # Runs when the inner loop finishes normally
  i += 1
else: print('-- Outer While Loop Ended --') # Runs when the outer loop finishes normally

0: Outer Loop
0
1
2
-- Inner While Loop Ended --
1: Outer Loop
0
1
2
-- Inner While Loop Ended --
2: Outer Loop
0
1
2
-- Inner While Loop Ended --
3: Outer Loop
0
1
2
-- Inner While Loop Ended --
4: Outer Loop
0
1
2
-- Inner While Loop Ended --
5: Outer Loop
0
1
2
-- Inner While Loop Ended --
-- Outer While Loop Ended --

### 5.9 List Comprehension
-  Concise way to create lists in Python using a single line of code, with an optional condition.
- `Syntax`: Expression, Iteration, Condition
- `Example`:
  - squares = [x**2 for x in range(10) if x % 2 == 0]
    - **Expression: x**2** - Defines what to include in the list (squares of x)
    - **Iteration: for x in range(10)** - Iterates over values from 0 to 9
    - **Condition: if x % 2 == 0** - Includes only x values that are even

In [ ]:
# 1.1.1 Non-List Comprehension example (str)

ice_cream_flavors = ['basic: chocolate','basic: vanilla','fruit: strawberry','fruit: orange','fruit: apple','fruit: banana']
fruit_flavors = []

for flavor in ice_cream_flavors:
  if 'fruit' in flavor:
    fruit_flavors.append(flavor)

print(fruit_flavors)

['fruit: strawberry', 'fruit: orange', 'fruit: apple', 'fruit: banana']

In [ ]:
# 1.1.2 List Comprehension example (str - same output as 1.1.1)

fruit_flavors = [flavor for flavor in ice_cream_flavors if 'fruit' in flavor]
print(fruit_flavors)

['fruit: strawberry', 'fruit: orange', 'fruit: apple', 'fruit: banana']

In [ ]:
# 1.2.1 List Comprehension (int)

jc_list = [x**2 for x in range(10) if x % 2 == 0]
print(jc_list)

[0, 4, 16, 36, 64]